:root {
  /* Primitives */
  --clr-dark-blue-300: hsla(218, 48%, 17%, 1);
  --clr-dark-blue-400: hsla(218, 47%, 13%, 1);
  --clr-dark-blue-500: hsla(218, 48%, 10%, 1);
  --clr-dark-blue-700: hsla(215, 50%, 5%, 1);
  --clr-light-blue-400: hsla(223, 87%, 76%, 1);
  --clr-yellow-400: hsla(58, 99%, 72%, 1);
  --clr-red-400: hsla(0, 68%, 60%, 1);

  /* Background */
  --clr-bg-primary: var(--clr-dark-blue-400);
  --clr-bg-secondary: var(--clr-dark-blue-300);
  --clr-bg-overlay: var(--clr-dark-blue-700);
  --clr-bg-sidebar: hsla(218, 48%, 10%, 1);

  /* Text */
  --clr-text-primary: hsla(0, 0%, 100%, 1);
  --clr-text-secondary: hsla(0, 0%, 65%, 1);
  --clr-text-tertiary: hsla(0, 0%, 41%, 1);
  --clr-text-light-blue: var(--clr-light-blue-400);

  /* Divider */
  --clr-divider: hsla(217, 29%, 15%, 1);

  /* List marker colors */
  --clr-list-green: hsla(115, 63%, 77%, 1);
  --clr-list-blue: hsla(209, 86%, 71%, 1);
  --clr-list-pink: hsla(320, 94%, 73%, 1);
  --clr-list-purple: hsla(265, 38%, 58%, 1);
  --clr-list-orange: hsla(25, 89%, 60%, 1);
  --clr-list-mint: hsla(173, 96%, 82%, 1);
}

/* Mini reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
}


body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
/* Mini reset end */

/* Custom fonts */
@font-face {
  font-family: "Roobert PRO";
  src: url("./assets/fonts/RoobertPRO-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert PRO";
  src: url("./assets/fonts/RoobertPRO-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roobert PRO";
  src: url("./assets/fonts/RoobertPRO-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Styles */
body {
  font-family: "Roobert PRO", sans-serif;
  background-color: var(--clr-bg-primary);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: var(--clr-text-primary);
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-bg-sidebar);
  border-radius: 0 1rem 1rem 0;
  border-top: 1px solid var(--clr-divider, #1c2533);
  border-right: 1px solid var(--clr-divider, #1c2533);
  border-bottom: 1px solid var(--clr-divider, #1c2533);

  .greeting {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    > li button {
      padding: 0.75rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
      color: var(--clr-text-secondary);
      border-radius: 0.625rem;

      > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        svg {
          fill: var(--clr-text-secondary);
        }

        p {
          font-size: 1rem;
        }
      }

      span {
        font-size: 0.875rem;
      }

      &.active {
        background-color: var(--clr-bg-secondary);
        color: var(--clr-text-light-blue);

        p {
          font-weight: 500;
        }

        svg {
          fill: var(--clr-text-light-blue);
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    padding: 0.75rem;
    overflow-y: hidden;
  }

  #content {
    min-height: 97svh;
    display: grid;
    grid-template-columns: 22rem 1fr;
  }

  .sidebar {
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--clr-divider, #1c2533);

    .greeting img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
