:root {
  /* Primitives */
  --clr-dark-blue-300: hsla(218, 48%, 17%, 1);
  --clr-dark-blue-400: hsla(218, 47%, 13%, 1);
  --clr-dark-blue-500: hsla(218, 48%, 10%, 1);
  --clr-dark-blue-700: hsla(215, 50%, 5%, 1);
  --clr-light-blue-400: hsla(223, 87%, 76%, 1);
  --clr-yellow-400: hsla(58, 99%, 72%, 1);
  --clr-red-400: hsla(0, 68%, 60%, 1);
  --clr-accent-brand: hsla(241, 61%, 55%, 1);

  /* Background */
  --clr-bg-primary: var(--clr-dark-blue-400);
  --clr-bg-secondary: var(--clr-dark-blue-300);
  --clr-bg-overlay: var(--clr-dark-blue-700);
  --clr-bg-overlay-2: hsla(0, 0%, 0%, 0.5);
  --clr-bg-sidebar: hsla(218, 48%, 10%, 1);
  --clr-bg-btn-primary: var(--clr-accent-brand);

  /* Text */
  --clr-text-primary: hsla(0, 0%, 100%, 1);
  --clr-text-secondary: hsla(0, 0%, 65%, 1);
  --clr-text-tertiary: hsla(0, 0%, 41%, 1);
  --clr-text-light-blue: var(--clr-light-blue-400);

  /* Divider */
  --clr-divider: hsla(217, 29%, 15%, 1);

  /* List marker colors */
  --clr-list-green: hsla(115, 63%, 77%, 1);
  --clr-list-blue: hsla(209, 86%, 71%, 1);
  --clr-list-pink: hsla(320, 94%, 73%, 1);
  --clr-list-purple: hsla(265, 38%, 58%, 1);
  --clr-list-orange: hsla(25, 89%, 60%, 1);
  --clr-list-mint: hsla(173, 96%, 82%, 1);

  /* Font sizes */
  --fs-h1: clamp(1.5rem, 1.3269rem + 0.7692vw, 1.875rem);
  --fs-body: clamp(0.875rem, 0.8173rem + 0.2564vw, 1rem);
}

/* Mini reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
/* Mini reset end */

/* Custom fonts */
@font-face {
  font-family: 'Roobert PRO';
  src: url('./assets/fonts/RoobertPRO-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('./assets/fonts/RoobertPRO-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roobert PRO';
  src: url('./assets/fonts/RoobertPRO-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* Styles */
body {
  font-family: 'Roobert PRO', sans-serif;
  background-color: var(--clr-bg-primary);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

#content {
  min-height: 100svh;
}

#content:has(dialog) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h1 {
  font-size: var(--fs-h1);
}

p,
button {
  font-size: var(--fs-body);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: var(--clr-text-primary);
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

#list-title {
  color: var(--clr-text-light-blue);
  font-size: clamp(1.875rem, 1.4712rem + 1.7949vw, 2.75rem);
  font-weight: 700;
  margin-top: 1.25rem;
}

#todays-date {
  font-size: clamp(1rem, 0.9423rem + 0.2564vw, 1.125rem);
  color: var(--clr-text-secondary);
  margin-top: 0.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-bg-sidebar);
  border-radius: 0 1rem 1rem 0;
  border-top: 1px solid var(--clr-divider, #1c2533);
  border-right: 1px solid var(--clr-divider, #1c2533);
  border-bottom: 1px solid var(--clr-divider, #1c2533);

  .greeting {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;

    > li button {
      padding: 0.75rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 3rem;
      color: var(--clr-text-secondary);
      border-radius: 0.625rem;

      > div {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        svg {
          fill: var(--clr-text-secondary);
        }

        p {
          font-size: 1rem;
        }
      }

      span {
        font-size: 0.875rem;
      }

      &.active {
        background-color: var(--clr-bg-secondary);
        color: var(--clr-text-light-blue);

        p {
          font-weight: 500;
        }

        svg {
          fill: var(--clr-text-light-blue);
        }
      }
    }
  }

  .custom-list {
    h3 {
      margin-bottom: 0.75rem;
    }

    svg {
      fill: none;
    }

    button.active svg {
      fill: none;
    }

    > ul li:first-child button > div svg {
      stroke: var(--clr-list-green);
    }

    > ul li:nth-child(2) button > div svg {
      stroke: var(--clr-list-blue);
    }

    > ul li:nth-child(3) button > div svg {
      stroke: var(--clr-list-pink);
    }

    .btn-add-list {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-top: 0.5rem;
      padding-block: 0.75rem;
      width: 100%;
      opacity: 1;
      transition: all 0.4s ease-out;

      span {
        color: var(--clr-text-primary);
        transition: color 0.4s ease;
      }

      &:hover span {
        color: var(--clr-text-secondary);
      }

      &.hidden {
        opacity: 0;
        /* transform: translateY(-5rem);
        position: absolute; */
        display: none;
      }
    }

    #form-custom-list {
      margin-top: 0.5rem;
      padding-block: 0.75rem;
      display: flex;
      align-items: end;
      justify-content: space-between;
      gap: 0.75rem;

      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-size: 0.825rem;
          color: var(--clr-text-secondary);
        }

        input {
          border-radius: 0.325rem;
          padding: 0.6rem;
          width: 100%;
          background-color: var(--clr-bg-secondary);
          color: var(--clr-text-primary);
          border: none;
        }
      }

      button {
        padding: 0.6rem 0.75rem;
        border-radius: 0.325rem;
        background-color: var(--clr-accent-brand);
        color: var(--clr-text-primary);
      }
    }
  }
}

dialog {
  padding: 1.25rem;
  background-color: var(--clr-bg-primary);
  border: 1px solid var(--clr-divider);
  border-radius: 1.5rem;

  > * {
    color: var(--clr-text-primary);
  }

  &::backdrop {
    background-color: var(--clr-bg-overlay);
  }
}

dialog#modal-task {
  width: 100%;
  min-height: 16.5rem;
  border-radius: 0.75rem;
  position: relative;
  padding: 1rem;
  position: absolute;
  background-color: var(--clr-bg-primary);
  overflow: visible;

  &::backdrop {
    background-color: var(--clr-bg-overlay-2);
  }

  #btn-close-modal {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }

  .row-3,
  .row-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    > div {
      display: flex;
      align-items: center;
      width: fit-content;
      gap: 0.5rem;
      cursor: pointer;

      > * {
        cursor: pointer;
      }

      > input {
        max-width: 5.5rem;
      }
    }

    .priority-picker {
      display: none;
      cursor: initial;

      > * {
        cursor: initial;
      }
    }
  }

  .row-3 {
    position: relative;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--clr-divider);
  }

  .row-4 {
    .actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      #btn-complete, #btn-delete {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
      }

      #btn-complete {
        padding: 0.625rem 0.75rem;
        gap: 0.25rem;
        border: 1px solid var(--clr-text-tertiary);

        > span {
          color: var(--clr-text-secondary);
          font-size: 1rem;
        }
      }

      #btn-delete {
        padding: 0.625rem;
        border: 1px solid var(--clr-red-400);
        background-color: hsla(0, 68%, 60%, 0.06);
      }
    }
  }
}

.btn {
  padding-block: 0.75rem;
  color: var(--clr-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}

.btn-primary {
  background-color: var(--clr-bg-btn-primary);

  &[type='submit'] {
    padding: 0.75rem 2.5rem;
  }
}

.btn-secondary {
  background: transparent;
  border: 1px solid var(--clr-accent-brand);
}

.btn-add {
  padding-block: 0.85rem;
  margin-block: 2.5rem;
  width: 100%;
  background-color: var(--clr-bg-secondary);
  color: var(--clr-text-light-blue);
  font-size: clamp(0.875rem, 0.8173rem + 0.2564vw, 1rem);
  gap: 0.5rem;

  &.hidden {
    display: none;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 8C14 8.13261 13.9473 8.25979 13.8536 8.35355C13.7598 8.44732 13.6326 8.5 13.5 8.5H8.5V13.5C8.5 13.6326 8.44732 13.7598 8.35355 13.8536C8.25979 13.9473 8.13261 14 8 14C7.86739 14 7.74021 13.9473 7.64645 13.8536C7.55268 13.7598 7.5 13.6326 7.5 13.5V8.5H2.5C2.36739 8.5 2.24021 8.44732 2.14645 8.35355C2.05268 8.25979 2 8.13261 2 8C2 7.86739 2.05268 7.74021 2.14645 7.64645C2.24021 7.55268 2.36739 7.5 2.5 7.5H7.5V2.5C7.5 2.36739 7.55268 2.24021 7.64645 2.14645C7.74021 2.05268 7.86739 2 8 2C8.13261 2 8.25979 2.05268 8.35355 2.14645C8.44732 2.24021 8.5 2.36739 8.5 2.5V7.5H13.5C13.6326 7.5 13.7598 7.55268 13.8536 7.64645C13.9473 7.74021 14 7.86739 14 8Z' fill='%238DABF7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
}

#modal-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 86%;

  .logo {
    width: 3.313rem;
    height: auto;
    margin-bottom: 1rem;
  }

  h1 {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 1.25rem;
  }

  button {
    width: 100%;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;

    > div {
      border-radius: 9999px;
      width: 0.5rem;
      height: 0.5rem;
      background: #fff;
      cursor: pointer;

      &.active {
        width: 0.625rem;
        height: 0.625rem;
        background: var(--clr-accent-brand);
      }
    }
  }

  .actions {
    width: 100%;
    display: flex;
    gap: 0.5rem;

    button {
      flex: 1;
    }
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--clr-dark-blue-700);
    color: var(--clr-text-primary);
    margin-bottom: 1.25rem;

    &::placeholder {
      color: var(--clr-text-tertiary);
    }
  }
}

.task-list-item {
  padding-block: 0.75rem;
  color: var(--clr-text-primary);
  border-bottom: 0.5px solid var(--clr-divider);

  .input-wrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;

    label {
      cursor: pointer;
      transition: all 0.2s ease;
    }

    input[type='checkbox'] {
      appearance: none;
      -webkit-appearance: none;
      height: 1rem;
      width: 1rem;
      border-radius: 4px;
      border: 1.5px solid var(--clr-text-primary);
      background-color: transparent;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      &:checked {
        border-color: var(--clr-text-secondary);

        &::after {
          content: '✓';
          position: absolute;
          color: var(--clr-text-secondary);
          font-size: 0.75rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &.low {
        border-color: var(--clr-text-light-blue);
        &:checked {
          border-color: var(--clr-text-secondary);
        }
      }

      &.medium {
        border-color: var(--clr-yellow-400);
        &:checked {
          border-color: var(--clr-text-secondary);
        }
      }

      &.high {
        border-color: var(--clr-red-400);
        &:checked {
          border-color: var(--clr-text-secondary);
        }
      }
    }

    input[type='checkbox']:checked ~ label {
      text-decoration: line-through;
      opacity: 0.6;
      color: var(--clr-text-secondary);
    }
  }

  .row-top,
  .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row-bottom {
    margin-top: 0.25rem;
    padding-left: 2.25rem;

    > * {
      color: var(--clr-text-secondary);
      font-size: 0.75rem;
    }
  }

  .due {
    min-width: 3rem;
    &.past-due {
      color: var(--clr-text-light-blue);
    }
  }

  .priority {
    min-width: 0.75rem;
    font-size: 0.75rem;
    &.low {
      color: var(--clr-text-light-blue);
    }
    &.medium {
      color: var(--clr-yellow-400);
    }
    &.high {
      color: var(--clr-red-400);
    }
  }

  .custom-list {
    min-width: 2rem;
  }
}

.form-task {
  input,
  textarea {
    width: 90%;
    background: transparent;
    border: none;
    color: var(--clr-text-primary);
    caret-color: var(--clr-text-light-blue);

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--clr-text-tertiary);
    }
  }

  textarea {
    resize: none;
    field-sizing: content;
  }

  #task-title {
    margin-bottom: 1rem;
  }

  #task-title,
  #task-title::placeholder {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

/* Calendar */
.air-datepicker.custom-calendar-theme {
  width: fit-content;
  background: var(--clr-dark-blue-500);
  color: var(--clr-text-primary);
  font-size: 1rem;
  font-family: 'Roobert PRO', sans-serif;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-divider);

  .air-datepicker--pointer {
    display: none;
  }

  .air-datepicker-nav {
    border-bottom: none;
  }

  .air-datepicker-nav {
    padding-top: 1rem;
  }

  .air-datepicker-nav--title {
    > * {
      color: var(--clr-text-primary);
      font-size: 1rem;
    }

    &:hover {
      background: var(--clr-bg-primary);
    }
  }

  .air-datepicker-nav--action {
    svg path {
      stroke: var(--clr-text-light-blue);
    }

    &:hover {
      background: var(--clr-bg-primary);
    }
  }

  .air-datepicker--content {
    padding: 0.5rem 0.75rem;
  }

  .air-datepicker-body--day-names {
    margin: 0;
    padding: 0;
  }

  .air-datepicker-body--day-name {
    color: var(--clr-text-secondary);
    font-size: 0.875rem;
    text-transform: none;
    width: 2.5rem;
    height: 2.5rem;
  }

  .air-datepicker-body--cells.-days- {
    grid-template-columns: repeat(7, 2.5rem);
    grid-auto-rows: 2.5rem;
  }

  .air-datepicker-cell {
    font-size: 0.875rem;

    &:hover {
      background: var(--clr-bg-secondary);
    }
  }

  .air-datepicker-cell.-day-.-other-month-,
  .air-datepicker-cell.-day-.-disabled- {
    color: var(--clr-text-tertiary);
  }

  .air-datepicker-cell.-selected- {
    background-color: var(--clr-text-light-blue);
    color: var(--clr-bg-primary);
    font-weight: 600;
  }

  .air-datepicker-cell.-current- {
    color: var(--clr-text-light-blue);

    &.-selected- {
      color: var(--clr-bg-primary);
      font-weight: 600;
    }
  }
}
/* Calendar end */

/* Pickers start */
.priority-picker,
.list-picker {
  display: none;
  opacity: 0;
  position: absolute;
  background-color: var(--clr-dark-blue-500);
  padding: 0.75rem 1rem;
  border: 1px solid var(--clr-divider);
  border-radius: 0.5rem;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;

  &.visible {
    display: block !important;
    opacity: 1;
  }

  h5 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 0.625rem;
  }

  > ul {
    display: grid;
    gap: 0.25rem;
  }

  li {
    padding: 0.5rem;
    display: flex;
    gap: 0.25rem;
    cursor: pointer;

    .text {
      color: var(--clr-text-secondary);
      font-size: 0.9rem;
    }

    &.active {
      background-color: var(--clr-bg-secondary);
      border-radius: 0.25rem;
      .text {
        color: var(--clr-text-light-blue);
        font-weight: 500;
      }
    }
  }
}

.priority-picker {
  right: 0;
  top: 70%;

  li {
    .exclamation {
      font-size: 0.875rem;
      width: 1rem;
      height: 1rem;
      text-align: center;
      display: flex;
      &.low {
        color: var(--clr-text-light-blue);
      }
      &.medium {
        color: var(--clr-yellow-400);
      }
      &.high {
        color: var(--clr-red-400);
      }
    }
  }
}

.list-picker {
  display: none !important;
  left: 1rem;
  bottom: -10.25rem;

  li {
    align-items: center;
    gap: 0.5rem;
  }
}
/* Pickers end */

/* Desktops */
@media (min-width: 992px) {
  body {
    padding: 0.75rem;
    overflow-x: hidden;
  }

  #content {
    min-height: 97svh;
    display: grid;
    grid-template-columns: 22rem 1fr;
    gap: 6.5rem;
  }

  .btn-add {
    transition: background-color 0.3s ease;
    &::before {
      content: '';
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 10C18 10.1658 17.9342 10.3247 17.8169 10.4419C17.6997 10.5592 17.5408 10.625 17.375 10.625H11.125V16.875C11.125 17.0408 11.0592 17.1997 10.9419 17.3169C10.8247 17.4342 10.6658 17.5 10.5 17.5C10.3342 17.5 10.1753 17.4342 10.0581 17.3169C9.94085 17.1997 9.875 17.0408 9.875 16.875V10.625H3.625C3.45924 10.625 3.30027 10.5592 3.18306 10.4419C3.06585 10.3247 3 10.1658 3 10C3 9.83424 3.06585 9.67527 3.18306 9.55806C3.30027 9.44085 3.45924 9.375 3.625 9.375H9.875V3.125C9.875 2.95924 9.94085 2.80027 10.0581 2.68306C10.1753 2.56585 10.3342 2.5 10.5 2.5C10.6658 2.5 10.8247 2.56585 10.9419 2.68306C11.0592 2.80027 11.125 2.95924 11.125 3.125V9.375H17.375C17.5408 9.375 17.6997 9.44085 17.8169 9.55806C17.9342 9.67527 18 9.83424 18 10Z' fill='%238DABF7'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: hsla(217, 48%, 20%, 1);
    }
  }

  .sidebar {
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid var(--clr-divider, #1c2533);

    .greeting img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  dialog {
    padding: 2rem;
  }

  dialog#modal-add-task {
    padding: 1.25rem;
  }

  #modal-start {
    width: fit-content;
    .logo {
      width: 4.125rem;
    }

    h1 {
      min-width: 20rem;
    }

    > p {
      max-width: 20rem;
      margin-bottom: 2rem;
    }

    button {
      padding-block: 1rem;
    }

    .pagination {
      margin-top: 2rem;
    }

    input {
      margin-bottom: 2rem;
    }
  }

  dialog#modal-task {
    width: 36.5rem;
    min-height: 14.25rem;
  }

  .main {
    max-width: 34rem;
  }

  .priority-picker,
  .list-picker {
    li {
      transition: background-color 0.2s ease;
      &:hover {
        background-color: var(--clr-bg-secondary);
        border-radius: 0.25rem;

        .text {
          color: var(--clr-text-primary);
        }
      }
    }
  }
}
